<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>管理者画面ログイン</title>
</head>
<body>
    <div class="d-grid gap-2 col-6 mx-auto">
        <h1 class="h1">出退勤管理</h1>
        <form action="/" method="GET">
            <button class="btn btn-link" aria-label="出退勤管理に戻る" type="submit">出勤退管理に戻る</button>
        </form>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/adminLogin" method="POST">
            <label for="exampleFormControlInput1" class="form-label">管理者IDを入力してください。</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID" name="adminID">
            <label for="inputPassword5" class="form-label">管理者パスワードを入力してください。</label>
            <input type="password"  class="form-control" id="inputPassword5" placeholder="パスワード" name="adminPassword">
            <button class="btn btn-primary" aria-label="ログインする" type="submit">ログインする</button>
        </form>
    </div>
</body>
</html>