<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>管理者ホーム</title>
</head>

<body>

    <div class="p-3 mb-2 bg-primary text-white">
        <header>
            <h1 aria-label="勤怠マン(仮称)の管理者専用画面です。">勤怠マン(仮称)管理者専用</h1>
        </header>
    </div>
    
    <div class="d-grid gap-2 col-6 mx-auto">

        <div>
            <form action="/" method="GET">
                <button class="btn btn-link" type="submit" aria-label="出退勤管理に戻る">出勤退管理に戻る</button>
            </form>
        </div>

        <div>
            <form action="/admin/employeeInformation">
                <button class="btn btn-primary" aria-label="従業員のデータを見る" type="submit">従業員のデータを見る</button>
            </form>
            <form action="/admin/workRecord">
                <button class="btn btn-primary" aria-label="労働データを見る" type="submit">労働データを見る</button>
            </form>
        </div>

    </div>

</body>
</html>