<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404:NotFound</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
    <div class="p-3 mb-2 bg-primary text-white">
        <header>
            <h1>勤怠マン(仮称)</h1>
        </header>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <h1>PageNotFound!</h1>
    </div>
</body>
</html>