<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>出退勤管理画面</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var message1 = document.querySelector('div.alert-warning');
            var message2 = document.querySelector('div.alert-success');
            if (message1 && message1.innerText.trim() !== '') {
                setTimeout(function() {
                    message1.style.display = 'none';
                }, 5000);
            } else {
                setTimeout(function() {
                    message2.style.display = 'none';
                }, 5000);
            }
        });
    </script>
</head>
<body>
    <div class="p-3 mb-2 bg-primary text-white">
        <header>
            <h1>勤怠マン(仮称)</h1>
        </header>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <div>
            <form action="/admin" method="GET">
                <button class="btn btn-secondary" type="submit" aria-label="管理者用">管理者用</button>
            </form>
        </div>
        <!-- gitのエラーチェック -->
        <div>
            <form action="/input" method="POST">
                <label for="exampleFormControlInput1" class="form-label" aria-label="IDを入力してください。(半角数字)">IDを入力してください。</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID(半角数字)" name="EmployeeID">
                <label for="inputPassword5" class="form-label">パスワードを入力してください。</label>
                <!-- aria-labelledbyについては要確認。アクセシビリティ関連 -->
                <input type="password"  class="form-control" id="inputPassword5" name="EmployeePassword" aria-labelledby="passwordHelpBlock" placeholder="パスワード" >
                <button class="btn btn-primary" type="submit" name ="action" value="startWork" aria-label="出勤する">出勤する</button>
                <button class="btn btn-primary" type="sunmit" name ="action" value="break" aria-label="休憩する">休憩する</button>
                <button class="btn btn-primary" type="submit" name ="action" value="endWork" aria-label="退勤する">退勤する</button>
            </form>
        </div>
            <% if(message === 'IDかパスワードが正しくありません。' || message === '出勤のデータがありません。' || message === 'すでに出勤しています。'){ %>
                <div class=" alert-warning" role="alert">
                    <h1 class="message"><%= message %></h1>
                </div>
            <% } else { %>
                <div class=" alert-success" role="alert">
                    <h1 class="message"><%= message %></h1>
                </div>
            <% } %>
    </div>
</body>
</html>